{{# partial "header" }}
  <h1>Cellars</h1>
{{/partial}}
{{# partial "content" }}
  <div class="block full">
    <div class="row">
      <div class="input-group col-md-6">
        <form action="/cellars" method="get" role="search">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-effect-ripple btn-primary">
                      <i class="fa fa-search"></i> Search
                    </button>
                </span>
          <input type="text" id="search" name="search" class="form-control" placeholder="Cellar">
        </form>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">

        <table id="breweries-table" class="table table-striped table-bordered table-condensed table-vcenter">
          <thead>
          <tr>
            <th>Name</th>
            <th>Total Beers</th>
            <th>Unique Beers</th>
            <th>Breweries</th>
          </tr>
          </thead>
          <tbody>

          {{#each cellars}}
              <tr>
                <td>
                    <div class="col-sm-8">
                      <a href="/cellars/{{screenName}}">{{displayName}}</a><br/>{{location}}
                    </div>
                    <div class="col-sm-push-4 text-right">
                        {{#if hasTradeableBeers}}
                          <span class="label label-info">
                              <abbr title="This user is looking for trades">
                                <i class="fa fa-exchange"></i>
                              </abbr>
                            </span>
                        {{/if}}
                    </div>
                </td>
                <td>{{totalBeers}}</td>
                <td>{{uniqueBeers}}</td>
                <td>{{uniqueBreweries}}</td>
              </tr>
          {{/each}}
          </tbody>
        </table>

        {{>common/pagination}}

      </div>
    </div>
  </div>
{{/partial}}

{{> layout.html}}