{{# partial "header" }}
    <h1>{{cellar.displayName}} <small>({{cellar.screenName}})</small></h1>
{{/partial}}
{{# partial "content" }}
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="block">

    <div class="row">
      <div class="col-sm-9 content-float-hor push-bit-top-bottom">
        <img class="img-circle img-thumbnail img-thumbnail-avatar-2x pull-left" src="/images/icon152.png" alt="{{cellar.displayName}}"/>
        <ul class="cellar-bio">
        {{#if cellar.location}}
            <li>{{cellar.location}}</li>
        {{/if}}
        {{#if cellar.website}}
            <li><a href="{{cellar.website}}" title="{{cellar.displayName}}'s website">{{cellar.website}}</a></li>
        {{/if}}
        </ul>
        {{#if cellar.bio}}
            <p>{{cellar.bio}}</p>
        {{/if}}
      </div>
      <div class="col-sm-3">
        <ul>
          <li><strong>{{cellar.totalBeers}}</strong> Total beers</li>
          <li><strong>{{cellar.uniqueBeers}}</strong> Unique beers</li>
          <li><strong>{{cellar.uniqueBreweries}}</strong> Breweries</li>
        </ul>
        <!-- TODO: Twitter link -->
      </div>
    </div>

    <h2>Beers</h2>

    {{#if self}}
        <button class="btn btn-primary" data-toggle="modal" data-target="#addBeerModal">
          <i class="fa fa-plus"></i> Add Beer
        </button>
    {{/if}}

      <div class="table-responsive">
        <table id="cellared-drinks-table" class="table table-striped table-bordered table-condensed table-vcenter">
          <thead>
          <tr>
            <th></th>
            <th>
              {{tableSort request field="beerName" title="Beer"}} / {{tableSort request field='breweryName' title='Brewery'}}
            </th>
            <th>{{tableSort request field='styleName' title='Style'}}</th>
            <th>{{tableSort request field='size' title='Size'}}</th>
            <th>{{tableSort request field='quantity' title='Quantity'}}</th>
            <th>{{tableSort request field='bottleDate' title='Bottle Date'}}</th>
            <th>Flags</th>
          </tr>
          </thead>
          <tbody>

          {{#each cellaredDrinks}}
            <tr>
              <td>
                <a class="btn btn-effect-ripple btn-sm view-cellar-details" data-toggle="collapse" data-target="#details{{id}}"><i class="fa fa-chevron-down"></i></a>
              {{#if self}}
                <button class="btn btn-effect-ripple btn-sm btn-success drink-cellared-beer" data-cellar="{{slug}}" data-cellaredDrinkId="{{id}}" data-toggle="tooltip" data-placement="bottom" title="Drink one of these beers"><i class="fa fa-beer"></i></button>
                <a class="btn btn-effect-ripple btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" href="/cellars/{{cellar.slug}}/drinks/{{id}}/edit" title="Edit this beer"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-effect-ripple btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" href="/cellars/{{cellar.slug}}/drinks/{{id}}/delete" title="Delete this beer"><i class="fa fa-times"></i></a>
              {{/if}}
              </td>
              <td>
                <h4 class="no-padding no-margin"><strong><a href="/beers/{{drinkSlug}}">{{drinkName}}</a></strong></h4>
                <a class="text-info" href="/breweries/{{organizationSlug}}">{{organizationName}}</a>
              </td>
              <td>{{styleName}}</td>
              <td>{{size}}</td>
              <td>{{quantity}}</td>
              <td>{{bottleDate}}</td>
              <td>{{>cellars/_cellared-drink-flags}}</td>
            </tr>
            <tr id="details{{id}}" class="collapse out">
              <td colspan="7">
                  <div class="row">
                    <div class="col-sm-6 col-lg-6">
                      <h3>Details</h3>
                        {{#if notes}}
                          <p><strong>Notes:</strong> {{notes}}</p>
                        {{/if}}
                      <ul>
                        {{#if binIdentifier}}
                          <li>Bin Identifier: {{binIdentifier}}</li>
                        {{/if}}
                        {{#if dateAcquired}}
                          <li>Date Acquired: {{dateAcquired}}</li>
                        {{/if}}
                        {{#if drinkByDate}}
                          {{#if dangerDrinkByDate}}
                            <li class="text-danger">
                              Drink by Date: {{drinkByDate}}
                              <span class="label label-danger animation-pulse">
                                <i class="fa fa-exclamation-triangle"></i>
                              </span>
                            </li>
                          {{else}}
                              {{#if warnDrinkByDate}}
                                <li class="text-warning">
                                  Drink by Date: {{drinkByDate}}
                                  <span class="label label-danger animation-pulse">
                                    <i class="fa fa-exclamation-triangle"></i>
                                  </span>
                                </li>
                              {{else}}
                                <li>Drink by Date: {{drinkByDate}}</li>
                              {{/if}}
                          {{/if}}
                        {{/if}}
                      </ul>
                    </div>
                    {{#if tradeable}}
                    <div class="col-sm-6 col-lg-6">
                      <h3 class="text-info"><i class="fa fa-exchange"></i> <strong>{{numTradeable}} Tradeable!</strong></h3>
                      <p>This beer is available for a trade! You can arrange a trade by contacting this user via:</p>
                      <ul>
                          {{#if cellar.twitter}}
                            <li>Twitter: {{cellar.twitter}}</li>
                          {{/if}}
                          {{#if cellar.reddit}}
                            <li>Reddit: {{cellar.reddit}}</li>
                          {{/if}}
                          {{#if cellar.beeradvocate}}
                            <li>BeerAdvocate: {{cellar.beeradvocate}}</li>
                          {{/if}}
                          {{#if cellar.ratebeer}}
                            <li>RateBeer: {{cellar.ratebeer}}</li>
                          {{/if}}
                      </ul>
                    </div>
                    {{/if}}
                  </div>

              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

  </div>
  </div>
  </div>

  {{#if self}}
    <div class="modal fade" id="addBeerModal" tabindex="-1" role="dialog" aria-labelledby="addBeerModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addBeerModalLabel">Add Beer</h4>
          </div>
          <div class="modal-body">
            <form id="add-beer-form" action="/cellars/{{slug}}/drinks" method="post" class="form-horizontal form-bordered">
              {{>cellars/_add-cellared-drink-form-fields}}
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

{{/partial}}

{{#partial "extra_includes"}}
    {{#if self}}
      <script src="/scripts/pages/yourcellar.js"></script>
      <script>$(function(){ YourCellar.init(); });</script>
    {{/if}}
    <script src="/scripts/pages/cellar-show.js"></script>
    <script>$(function(){ CellarShow.init(); });</script>
{{/partial}}

{{> layout.html}}
