<div class="form-group">
    <label class="col-md-3 control-label" for="name">Name <span class="text-danger">*</span></label>

    <div class="col-md-6">
        <input type="text" id="name" name="name" class="form-control" placeholder="Surly Brewing"
            value="{{drink.name}}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="description">Description</label>

    <div class="col-md-6">
        <textarea id="description" name="description" class="form-control" rows="7"
            placeholder="Beer for a glass. From a can." value="{{organization.description}}"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="name">Established</label>

    <div class="col-md-6">
        <input type="text" id="established" name="established" class="form-control" placeholder="2006"
            value="{{organization.established}}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="phone">Phone</label>

    <div class="col-md-6">
        <input type="text" id="phone" name="phone" class="form-control" placeholder="612-555-5555"
            value="{{organization.phone}}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="website">Website</label>

    <div class="col-md-6">
        <input type="text" id="website" name="website" class="form-control" placeholder="www.surlybrewing.com/"
            value="{{organization.website}}">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="address">Address</label>

    <div class="col-md-6">
        <input type="text" id="address" name="address" class="form-control" placeholder="4811 Dusharme Drive"
            value="{{organization.address}}">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="address2">Address 2</label>

    <div class="col-md-6">
        <input type="text" id="address2" name="address2" class="form-control" placeholder="Suite 300"
            value="{{organization.address2}}">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="city">City</label>

    <div class="col-md-6">
        <input type="text" id="city" name="city" class="form-control" placeholder="Brooklyn Center"
            value="{{organization.city}}">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="state">State/Region</label>

    <div class="col-md-6">
        <input type="text" id="state" name="state" class="form-control" placeholder="MN" value="{{organization.state}}">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="postalcode">Postal Code</label>

    <div class="col-md-6">
        <input type="text" id="postalcode" name="postalcode" class="form-control" placeholder="55429"
            value="{{organization.postalcode}}">
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label" for="country">Country</label>

    <div class="col-md-6">
        <input type="text" id="country" name="country" class="form-control" placeholder="US"
            value="{{organization.country}}">
    </div>
</div>

<div class="form-group form-actions">
    <div class="col-md-8 col-md-offset-3">
        <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
        <button type="reset" class="btn btn-effect-ripple btn-danger">Reset</button>
    </div>
</div>