{{# partial "content" }}
<div class="row">
	<div class="col-md-4">
		<img src="https://s3.amazonaws.com/brewerydbapi/beer/qRuupG/upload_ei0JGN-medium.png" class="img-responsive img-thumbnail"/>
	</div>
	<div class="col-md-8">
		<h1>{{drink.organization.name}}&nbsp;{{drink.name}}</h1>
		<div id="basic-info">
			<span id="style">
				<strong>Style: </strong>
				<span>{{drink.style.name}}</span>
			</span>
			<span id="availability">
				<strong>Available</strong>&nbsp;{{drink.availability}}
			</span>
			<span id="abv">
				<strong>ABV:</strong>&nbsp;{{drink.abv}}</strong>
			</span>
		</div>
		<div id="description">
			<p>{{drink.description}}</p>
		</div>
	</div>
</div>
{{/partial}}

{{> layout.html}}