{{# partial "header" }}
	<h1>Breweries</h1>
{{/partial}}
{{# partial "content" }}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<div class="block">
				<div class="dataTables_wrapper form-inline no-footer">
					<div class="row">
						<div class="col-sm-6 col-xs-7">
							<form action="/breweries" method="get" role="search">
								<div class="input-group">
									<input type="search" name="search" class="form-control" placeholder="Search">
									<span class="input-group-addon"><i class="fa fa-search"></i></span>
								</div>
							</form>
						</div>
                      {{#if loggedIn}}
						  <a href="/breweries/add" class="btn btn-primary pull-right">Add New Brewery</a>
                      {{/if}}
					</div>

					<table id="breweries-table"
					       class="table table-striped table-bordered table-vcenter dataTable no-footer">
						<thead>
						<tr>
							<th>{{tableSort request field='name' title='Name'}}</th>
							<th>{{tableSort request field='location' title='Location'}}</th>
							<th>{{tableSort request field='established' title='Established'}}</th>
							<th>Website</th>
						</tr>
						</thead>
						<tbody>

                        {{#each organizations}}
							<tr>
								<td><a href='/breweries/{{slug}}'>{{name}}</a></td>
								<td>{{locality}}{{#if region}}{{#if locality}},{{/if}} {{region}}{{/if}}{{#if country}}
									/ {{country}}{{/if}} </td>
								<td>{{established}}</td>
								<td><a target="_blank" href="{{website}}">{{website}}</a></td>
							</tr>
                        {{/each}}
						</tbody>
					</table>

					<div class="row">
						<div class="col-sm-7 col-xs-12 clearfix">
							<div class="dataTables_paginate paging_bootstrap">
                              {{#if shouldShowPagination}}
                                {{>common/pagination}}
                              {{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/partial}}

{{> layout.html}}
